@media screen and (max-width:760px) {
    .sld-container{
        width: 100% !important;
        overflow: hidden;
        padding: 0 7vw !important;
        box-shadow: 0 0 8px 5px rgb(209, 209, 209);
      }
}